rofi.width:                          60
rofi.lines:                          5
rofi.columns:                        3
rofi.color-normal:                   #09152D, #ffffe9, #09152D, #cbcb5f, #ffffe9
rofi.color-urgent:                   #09152D, #d6b48d, #22231D, #d6b48d, #ffffe9
rofi.color-active:                   #09152D, #3b7ef8, #09152D, #3b7ef8, #09152D
rofi.color-window:                   argb:cc09152D, argb:cccbcb5f, argb:cc8c8c41
rofi.padding:                        250
rofi.line-padding:                   10
rofi.matching:                       normal
rofi.separator-style:                dash
rofi.hide-scrollbar:                 true
rofi.fullscreen:                     true
